[user]
	name = Diogo
	email = hi@diogo.wtf
	signingkey = 5ADDAABC8EA34D05
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[push]
    default = tracking
[core]
    excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[alias]
	fresh = "switch --orphan"
	fpush = "push --force"
  s = "status -s"
  undo = "reset --soft HEAD^"
  cleanup = "!f() { \
    git fetch upstream; \
    git checkout main; \
    git pull upstream main; \
    git push origin main; \
    git branch -r --merged | grep -v main | grep origin | sed 's/origin\\///' | gxargs -r -n 1 git push --delete origin; \
    git branch --merged | grep -v main | gxargs -r -n 1 git branch -d; \
    git branch -vv | grep ': gone]'|  grep -v '\\*' | awk '{ print $1; }' | gxargs -r git branch -D; \
    git fetch --all --prune; \
    git prune; \
    git gc --aggressive; \
  }; f"
  wopsy = "commit -a --amend --no-edit"
[submodule]
	recurse = true
[rebase]
    autoStash = true
[credential "https://github.com"]
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper = !/opt/homebrew/bin/gh auth git-credential
[commit]
	gpgsign = true
[tag]
	gpgSign = true
[gpg]
	program = gpg
